# .gitignore

# Ignore Cargo build artifacts
/target/

# Ignore Cargo lock file
/Cargo.lock

# Ignore Node.js dependencies
**/node_modules/

# Ignore log files
*.log

# Ignore environment files
.env

# Ignorer les fichiers volumineux
targetlpgSut/
